<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.m0m4x.android.xposed.advdataplan">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:installLocation="internalOnly">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Permit to change Mobile Data Usage Cycle date range." />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>

</manifest>
